In [1]:
from InputData import InputData

variable = 'x1, x2, x3, x4'
sop = '1  2  4  11  13'
dontcare = '0, 3, 6, 12'

obj = InputData(variable, sop, dontcare)

In [2]:
obj.getDontCareAsList()

['0', '3', '6', '12']

In [4]:
minterm = obj.getMintermsAsList()
dontcare = obj.getMintermsAsList()

In [7]:
my_string = ', '.join(minterm)
print(my_string)

1, 2, 4, 11, 13

In [9]:
df = obj.getTruthTable()

In [10]:
df

    x1  x2  x3  x4  Y
0    0   0   0   0  X
1    0   0   0   1  1
2    0   0   1   0  1
3    0   0   1   1  X
4    0   1   0   0  1
5    0   1   0   1  0
6    0   1   1   0  X
7    0   1   1   1  0
8    1   0   0   0  0
9    1   0   0   1  0
10   1   0   1   0  0
11   1   0   1   1  1
12   1   1   0   0  X
13   1   1   0   1  1
14   1   1   1   0  0
15   1   1   1   1  0

In [17]:
df[df.Y == 1]

    x1  x2  x3  x4  Y
1    0   0   0   1  1
2    0   0   1   0  1
4    0   1   0   0  1
11   1   0   1   1  1
13   1   1   0   1  1

In [21]:
df.index[df.Y == 1].tolist()
df.index[df.Y == 0].tolist()
df.index[df.Y == 'X'].tolist()

[0, 3, 6, 12]