In [2]:
import pandas as pd

from Reprezentacja_sumacyjna import CreateTable

In [3]:
from typing import List, Tuple

In [4]:
df = CreateTable("0, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15")

0, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15

In [5]:
df.get_df()

   Liczba jedynek Liczba Binarna  Liczba Dziesiętna
0               0           0000                  0
1               1           0010                  2
2               1           1000                  8
3               2           0011                  3
4               2           0101                  5
5               2           0110                  6
6               2           1001                  9
7               2           1010                 10
8               2           1100                 12
9               3           0111                  7
10              3           1011                 11
11              3           1101                 13
12              3           1110                 14
13              4           1111                 15

In [6]:
df_groupwane = pd.DataFrame(
    columns=["Obiekt grupowany", "Elemtny(łączone)", "Element", "Użyty"],
    data=[[0, 0, '0000', False],
            [1, 2, '0010', False],
            [1, 8, '1000', False],
            [2, 3, '0011', False],
            [2, 5, '0101', False],
            [2, 6, '0110', False],
            [2, 9, '1001', False],
            [2, 10, '1010', False],
            [2, 12, '1100', False],
            [3, 7, '0111', False],
            [3, 11, '1011', False],
            [3, 13, '1101', False],
            [3, 14, '1110', False],
            [4, 15, '1111', False]])
df_groupwane

    Obiekt grupowany  Elemtny(łączone) Element  Użyty
0                  0                 0    0000  False
1                  1                 2    0010  False
2                  1                 8    1000  False
3                  2                 3    0011  False
4                  2                 5    0101  False
5                  2                 6    0110  False
6                  2                 9    1001  False
7                  2                10    1010  False
8                  2                12    1100  False
9                  3                 7    0111  False
10                 3                11    1011  False
11                 3                13    1101  False
12                 3                14    1110  False
13                 4                15    1111  False

In [7]:
df_glowna_wynik = pd.DataFrame(
    columns=["Obiekt grupowany", "Elemtny(łączone)", "Element", "Użyty"],
    data=[[0, 0, '0000', True],
          [1, 2, '0010', True],
          [1, 8, '1000', True],
          [2, 5, '0101', False],
          [2, 6, '0110', False],
          [2, 9, '1001', False],
          [2, 10, '1010', False],
          [2, 12, '1100', False],
          [3, 7, '0111', False],
          [3, 11, '1011', False],
          [3, 13, '1101', False],
          [3, 14, '1110', False],
          [4, 15, '1111', False],
          ]
)
df_glowna_wynik

    Obiekt grupowany  Elemtny(łączone) Element  Użyty
0                  0                 0    0000   True
1                  1                 2    0010   True
2                  1                 8    1000   True
3                  2                 5    0101  False
4                  2                 6    0110  False
5                  2                 9    1001  False
6                  2                10    1010  False
7                  2                12    1100  False
8                  3                 7    0111  False
9                  3                11    1011  False
10                 3                13    1101  False
11                 3                14    1110  False
12                 4                15    1111  False

In [8]:
df_wynikowa1 = pd.DataFrame(
    columns=["Obiekt grupowany", "Elemtny(łączone)", "Element", "Użyty"],
    data=[[(0, 1), (0, 2), '00-0', False],
          [(0, 1), (0, 8), '-000', False]]
)
df_wynikowa1

  Obiekt grupowany Elemtny(łączone) Element  Użyty
0           (0, 1)           (0, 2)    00-0  False
1           (0, 1)           (0, 8)    -000  False

In [9]:
def matched(num1: str, num2: str) -> bool:
    return sum(n1 != n2 for n1, n2 in zip(num1, num2)) == 1

In [10]:
assert matched('0000', '000x') == True

In [11]:
def correct_pair(num1: str, num2: str) -> str:
    return ''.join(n1 if n1 == n2 else '-' for n1, n2 in zip(num1, num2))

In [31]:
def correct_tuple(tuple_elements: Tuple) -> Tuple:
    tup_element = tuple_elements
    print(f"tupl_elem, {tup_element}")
    while any(isinstance(el, tuple) for el in tup_element):
        tup_element = sum(tup_element, ())
    tup_element = tuple(set(tup_element))
    return tup_element

In [32]:
def elementy_laczone(df_input: pd.DataFrame) -> list:
    return list(df_input["Elemtny(łączone)"])

In [136]:
def remove_element(lista_a, element):
    if element in lista_a:
        print(f"Delete {element}, actual list: {lista_a}")
        lista_a.remove(element)

In [150]:
def compare_neighbours(df_input: pd.DataFrame, main: int, next_: int, el_lacz: list=[])\
        -> Tuple[pd.DataFrame, list]:
    print(f"El_laczone = {el_lacz}")
    df_new = pd.DataFrame(columns=["Obiekt grupowany", "Elemtny(łączone)", "Element", "Użyty"])
    df_main = df_input.copy()
    # print each comparsion
    main_rows = df_main[df_main["Obiekt grupowany"] == main]
    next_rows = df_main[df_main["Obiekt grupowany"] == next_]
    # print(f"next->{next_rows}")
    komu_true = set()

    for idx_main, row_main in main_rows.iterrows():
        for idx_, row_ in next_rows.iterrows():
            check1 = row_main['Element']
            check2 = row_['Element']
            if matched(check1, check2):
                # print(f"Matched! -{check1}- with {check2}")
                # print(f"nr -{row_main['Elemtny(łączone)']}- with {row_['Elemtny(łączone)']}")
                remove_element(el_lacz, row_main["Elemtny(łączone)"])
                remove_element(el_lacz, row_["Elemtny(łączone)"])
                if df_new.empty:
                    x = 0
                    df_new["Użyty"] = df_new["Użyty"].astype(bool)
                else:
                    x = df_new.index.max() + 1
                grupowy_tuple = correct_tuple(tuple([main]) + tuple([next_]))
                laczony_tuple = correct_tuple(tuple([row_main["Elemtny(łączone)"]]) + tuple([row_["Elemtny(łączone)"]]))
                df_new.loc[x] = [grupowy_tuple,
                                 laczony_tuple,
                                 correct_pair(check1, check2),
                                 False]
                ### do glownej tablicy trzeba zaznaczyc, ze dla row i dla row_ <- jest True
                komu_true.update([
                    row_main["Elemtny(łączone)"],
                    row_["Elemtny(łączone)"]
                ])
    # for item in komu_true:
    #     # print(f"item = {item}")
    #     idx_df = df_groupwane[df_groupwane["Elemtny(łączone)"] == item].index[0]
    #     df_main.at[idx_df, "Użyty"] = True
                    #df_main[df_main["Elemtny(łączone)"] == item]["Użyty"] = True
        # print(f"Te elementy na True: {komu_true}")
    return df_new, el_lacz

In [151]:
list(df_groupwane["Elemtny(łączone)"])

[0, 2, 8, 3, 5, 6, 9, 10, 12, 7, 11, 13, 14, 15]

In [161]:
def create_group(df_input: pd.DataFrame) -> pd.DataFrame:
    df_main = df_input.copy()
    df_out = pd.DataFrame()
    lista_lacz = elementy_laczone(df_input)
    unique_values = list(df_input['Obiekt grupowany'].unique())
    print(f"Unique elements len = {len(unique_values)}")
    print(f"Unique elements = {unique_values}")
    print(f"Uprise group len = ->{len(unique_values) - 1}<-")
    for idx, el in enumerate(unique_values):
        if el == unique_values[-1]: continue
        df_tmp, lista_lacz = compare_neighbours(df_main, unique_values[idx], unique_values[idx+1], lista_lacz)
        df_out = pd.concat([df_out, df_tmp])
    df_out = df_out.drop_duplicates(subset='Element')
    return df_out.reset_index(drop=True), lista_lacz

In [ ]:
def all_groups(df_input: pd.DataFrame):
    df_out: pd.DataFrame = pd.DataFrame()
    list_out: list = []

In [181]:
df_groupwane

    Obiekt grupowany  Elemtny(łączone) Element  Użyty
0                  0                 0    0000  False
1                  1                 2    0010  False
2                  1                 8    1000  False
3                  2                 3    0011  False
4                  2                 5    0101  False
5                  2                 6    0110  False
6                  2                 9    1001  False
7                  2                10    1010  False
8                  2                12    1100  False
9                  3                 7    0111  False
10                 3                11    1011  False
11                 3                13    1101  False
12                 3                14    1110  False
13                 4                15    1111  False

In [162]:
df_groupwane

    Obiekt grupowany  Elemtny(łączone) Element  Użyty
0                  0                 0    0000  False
1                  1                 2    0010  False
2                  1                 8    1000  False
3                  2                 3    0011  False
4                  2                 5    0101  False
5                  2                 6    0110  False
6                  2                 9    1001  False
7                  2                10    1010  False
8                  2                12    1100  False
9                  3                 7    0111  False
10                 3                11    1011  False
11                 3                13    1101  False
12                 3                14    1110  False
13                 4                15    1111  False

In [163]:
df_out1, lista_wyjscie1 = create_group(df_groupwane)
df_out1

Unique elements len = 5
Unique elements = [0, 1, 2, 3, 4]
Uprise group len = ->4<-
El_laczone = [0, 2, 8, 3, 5, 6, 9, 10, 12, 7, 11, 13, 14, 15]
Delete 0, actual list: [0, 2, 8, 3, 5, 6, 9, 10, 12, 7, 11, 13, 14, 15]
Delete 2, actual list: [2, 8, 3, 5, 6, 9, 10, 12, 7, 11, 13, 14, 15]
tupl_elem, (0, 1)
tupl_elem, (0, 2)
Delete 8, actual list: [8, 3, 5, 6, 9, 10, 12, 7, 11, 13, 14, 15]
tupl_elem, (0, 1)
tupl_elem, (0, 8)
El_laczone = [3, 5, 6, 9, 10, 12, 7, 11, 13, 14, 15]
Delete 3, actual list: [3, 5, 6, 9, 10, 12, 7, 11, 13, 14, 15]
tupl_elem, (1, 2)
tupl_elem, (2, 3)
Delete 6, actual list: [5, 6, 9, 10, 12, 7, 11, 13, 14, 15]
tupl_elem, (1, 2)
tupl_elem, (2, 6)
Delete 10, actual list: [5, 9, 10, 12, 7, 11, 13, 14, 15]
tupl_elem, (1, 2)
tupl_elem, (2, 10)
Delete 9, actual list: [5, 9, 12, 7, 11, 13, 14, 15]
tupl_elem, (1, 2)
tupl_elem, (8, 9)
tupl_elem, (1, 2)
tupl_elem, (8, 10)
Delete 12, actual list: [5, 12, 7, 11, 13, 14, 15]
tupl_elem, (1, 2)
tupl_elem, (8, 12)
El_laczone = [5, 7, 11, 13, 14, 15]
Delete 7, actual list: [5, 7, 11, 13, 14, 15]
tupl_elem, (2, 3)
tupl_elem, (3, 7)
Delete 11, actual list: [5, 11, 13, 14, 15]
tupl_elem, (2, 3)
tupl_elem, (3, 11)
Delete 5, actual list: [5, 13, 14, 15]
tupl_elem, (2, 3)
tupl_elem, (5, 7)
Delete 13, actual list: [13, 14, 15]
tupl_elem, (2, 3)
tupl_elem, (5, 13)
tupl_elem, (2, 3)
tupl_elem, (6, 7)
Delete 14, actual list: [14, 15]
tupl_elem, (2, 3)
tupl_elem, (6, 14)
tupl_elem, (2, 3)
tupl_elem, (9, 11)
tupl_elem, (2, 3)
tupl_elem, (9, 13)
tupl_elem, (2, 3)
tupl_elem, (10, 11)
tupl_elem, (2, 3)
tupl_elem, (10, 14)
tupl_elem, (2, 3)
tupl_elem, (12, 13)
tupl_elem, (2, 3)
tupl_elem, (12, 14)
El_laczone = [15]
Delete 15, actual list: [15]
tupl_elem, (3, 4)
tupl_elem, (7, 15)
tupl_elem, (3, 4)
tupl_elem, (11, 15)
tupl_elem, (3, 4)
tupl_elem, (13, 15)
tupl_elem, (3, 4)
tupl_elem, (14, 15)

   Obiekt grupowany Elemtny(łączone) Element  Użyty
0            (0, 1)           (0, 2)    00-0  False
1            (0, 1)           (0, 8)    -000  False
2            (1, 2)           (2, 3)    001-  False
3            (1, 2)           (2, 6)    0-10  False
4            (1, 2)          (2, 10)    -010  False
5            (1, 2)           (8, 9)    100-  False
6            (1, 2)          (8, 10)    10-0  False
7            (1, 2)          (8, 12)    1-00  False
8            (2, 3)           (3, 7)    0-11  False
9            (2, 3)          (11, 3)    -011  False
10           (2, 3)           (5, 7)    01-1  False
11           (2, 3)          (13, 5)    -101  False
12           (2, 3)           (6, 7)    011-  False
13           (2, 3)          (6, 14)    -110  False
14           (2, 3)          (9, 11)    10-1  False
15           (2, 3)          (9, 13)    1-01  False
16           (2, 3)         (10, 11)    101-  False
17           (2, 3)         (10, 14)    1-10  False
18           (2, 3)         (12, 13)    110-  False
19           (2, 3)         (12, 14)    11-0  False
20           (3, 4)          (15, 7)    -111  False
21           (3, 4)         (11, 15)    1-11  False
22           (3, 4)         (13, 15)    11-1  False
23           (3, 4)         (14, 15)    111-  False

In [164]:
assert lista_wyjscie1 == [], "Wyjście 1 się nie zgadza"

In [165]:
df_out2, lista_wyjscie2 = create_group(df_out1)
df_out2

Unique elements len = 4
Unique elements = [(0, 1), (1, 2), (2, 3), (3, 4)]
Uprise group len = ->3<-
El_laczone = [(0, 2), (0, 8), (2, 3), (2, 6), (2, 10), (8, 9), (8, 10), (8, 12), (3, 7), (11, 3), (5, 7), (13, 5), (6, 7), (6, 14), (9, 11), (9, 13), (10, 11), (10, 14), (12, 13), (12, 14), (15, 7), (11, 15), (13, 15), (14, 15)]
Delete (0, 2), actual list: [(0, 2), (0, 8), (2, 3), (2, 6), (2, 10), (8, 9), (8, 10), (8, 12), (3, 7), (11, 3), (5, 7), (13, 5), (6, 7), (6, 14), (9, 11), (9, 13), (10, 11), (10, 14), (12, 13), (12, 14), (15, 7), (11, 15), (13, 15), (14, 15)]
Delete (8, 10), actual list: [(0, 8), (2, 3), (2, 6), (2, 10), (8, 9), (8, 10), (8, 12), (3, 7), (11, 3), (5, 7), (13, 5), (6, 7), (6, 14), (9, 11), (9, 13), (10, 11), (10, 14), (12, 13), (12, 14), (15, 7), (11, 15), (13, 15), (14, 15)]
tupl_elem, ((0, 1), (1, 2))
tupl_elem, ((0, 2), (8, 10))
Delete (0, 8), actual list: [(0, 8), (2, 3), (2, 6), (2, 10), (8, 9), (8, 12), (3, 7), (11, 3), (5, 7), (13, 5), (6, 7), (6, 14), (9, 11), (9, 13), (10, 11), (10, 14), (12, 13), (12, 14), (15, 7), (11, 15), (13, 15), (14, 15)]
Delete (2, 10), actual list: [(2, 3), (2, 6), (2, 10), (8, 9), (8, 12), (3, 7), (11, 3), (5, 7), (13, 5), (6, 7), (6, 14), (9, 11), (9, 13), (10, 11), (10, 14), (12, 13), (12, 14), (15, 7), (11, 15), (13, 15), (14, 15)]
tupl_elem, ((0, 1), (1, 2))
tupl_elem, ((0, 8), (2, 10))
El_laczone = [(2, 3), (2, 6), (8, 9), (8, 12), (3, 7), (11, 3), (5, 7), (13, 5), (6, 7), (6, 14), (9, 11), (9, 13), (10, 11), (10, 14), (12, 13), (12, 14), (15, 7), (11, 15), (13, 15), (14, 15)]
Delete (2, 3), actual list: [(2, 3), (2, 6), (8, 9), (8, 12), (3, 7), (11, 3), (5, 7), (13, 5), (6, 7), (6, 14), (9, 11), (9, 13), (10, 11), (10, 14), (12, 13), (12, 14), (15, 7), (11, 15), (13, 15), (14, 15)]
Delete (6, 7), actual list: [(2, 6), (8, 9), (8, 12), (3, 7), (11, 3), (5, 7), (13, 5), (6, 7), (6, 14), (9, 11), (9, 13), (10, 11), (10, 14), (12, 13), (12, 14), (15, 7), (11, 15), (13, 15), (14, 15)]
tupl_elem, ((1, 2), (2, 3))
tupl_elem, ((2, 3), (6, 7))
Delete (10, 11), actual list: [(2, 6), (8, 9), (8, 12), (3, 7), (11, 3), (5, 7), (13, 5), (6, 14), (9, 11), (9, 13), (10, 11), (10, 14), (12, 13), (12, 14), (15, 7), (11, 15), (13, 15), (14, 15)]
tupl_elem, ((1, 2), (2, 3))
tupl_elem, ((2, 3), (10, 11))
Delete (2, 6), actual list: [(2, 6), (8, 9), (8, 12), (3, 7), (11, 3), (5, 7), (13, 5), (6, 14), (9, 11), (9, 13), (10, 14), (12, 13), (12, 14), (15, 7), (11, 15), (13, 15), (14, 15)]
Delete (3, 7), actual list: [(8, 9), (8, 12), (3, 7), (11, 3), (5, 7), (13, 5), (6, 14), (9, 11), (9, 13), (10, 14), (12, 13), (12, 14), (15, 7), (11, 15), (13, 15), (14, 15)]
tupl_elem, ((1, 2), (2, 3))
tupl_elem, ((2, 6), (3, 7))
Delete (10, 14), actual list: [(8, 9), (8, 12), (11, 3), (5, 7), (13, 5), (6, 14), (9, 11), (9, 13), (10, 14), (12, 13), (12, 14), (15, 7), (11, 15), (13, 15), (14, 15)]
tupl_elem, ((1, 2), (2, 3))
tupl_elem, ((2, 6), (10, 14))
Delete (11, 3), actual list: [(8, 9), (8, 12), (11, 3), (5, 7), (13, 5), (6, 14), (9, 11), (9, 13), (12, 13), (12, 14), (15, 7), (11, 15), (13, 15), (14, 15)]
tupl_elem, ((1, 2), (2, 3))
tupl_elem, ((2, 10), (11, 3))
Delete (6, 14), actual list: [(8, 9), (8, 12), (5, 7), (13, 5), (6, 14), (9, 11), (9, 13), (12, 13), (12, 14), (15, 7), (11, 15), (13, 15), (14, 15)]
tupl_elem, ((1, 2), (2, 3))
tupl_elem, ((2, 10), (6, 14))
Delete (8, 9), actual list: [(8, 9), (8, 12), (5, 7), (13, 5), (9, 11), (9, 13), (12, 13), (12, 14), (15, 7), (11, 15), (13, 15), (14, 15)]
tupl_elem, ((1, 2), (2, 3))
tupl_elem, ((8, 9), (10, 11))
Delete (12, 13), actual list: [(8, 12), (5, 7), (13, 5), (9, 11), (9, 13), (12, 13), (12, 14), (15, 7), (11, 15), (13, 15), (14, 15)]
tupl_elem, ((1, 2), (2, 3))
tupl_elem, ((8, 9), (12, 13))
Delete (9, 11), actual list: [(8, 12), (5, 7), (13, 5), (9, 11), (9, 13), (12, 14), (15, 7), (11, 15), (13, 15), (14, 15)]
tupl_elem, ((1, 2), (2, 3))
tupl_elem, ((8, 10), (9, 11))
Delete (12, 14), actual list: [(8, 12), (5, 7), (13, 5), (9, 13), (12, 14), (15, 7), (11, 15), (13, 15), (14, 15)]
tupl_elem, ((1, 2), (2, 3))
tupl_elem, ((8, 10), (12, 14))
Delete (8, 12), actual list: [(8, 12), (5, 7), (13, 5), (9, 13), (15, 7), (11, 15), (13, 15), (14, 15)]
Delete (9, 13), actual list: [(5, 7), (13, 5), (9, 13), (15, 7), (11, 15), (13, 15), (14, 15)]
tupl_elem, ((1, 2), (2, 3))
tupl_elem, ((8, 12), (9, 13))
tupl_elem, ((1, 2), (2, 3))
tupl_elem, ((8, 12), (10, 14))
El_laczone = [(5, 7), (13, 5), (15, 7), (11, 15), (13, 15), (14, 15)]
Delete (11, 15), actual list: [(5, 7), (13, 5), (15, 7), (11, 15), (13, 15), (14, 15)]
tupl_elem, ((2, 3), (3, 4))
tupl_elem, ((3, 7), (11, 15))
Delete (15, 7), actual list: [(5, 7), (13, 5), (15, 7), (13, 15), (14, 15)]
tupl_elem, ((2, 3), (3, 4))
tupl_elem, ((11, 3), (15, 7))
Delete (5, 7), actual list: [(5, 7), (13, 5), (13, 15), (14, 15)]
Delete (13, 15), actual list: [(13, 5), (13, 15), (14, 15)]
tupl_elem, ((2, 3), (3, 4))
tupl_elem, ((5, 7), (13, 15))
Delete (13, 5), actual list: [(13, 5), (14, 15)]
tupl_elem, ((2, 3), (3, 4))
tupl_elem, ((13, 5), (15, 7))
Delete (14, 15), actual list: [(14, 15)]
tupl_elem, ((2, 3), (3, 4))
tupl_elem, ((6, 7), (14, 15))
tupl_elem, ((2, 3), (3, 4))
tupl_elem, ((6, 14), (15, 7))
tupl_elem, ((2, 3), (3, 4))
tupl_elem, ((9, 11), (13, 15))
tupl_elem, ((2, 3), (3, 4))
tupl_elem, ((9, 13), (11, 15))
tupl_elem, ((2, 3), (3, 4))
tupl_elem, ((10, 11), (14, 15))
tupl_elem, ((2, 3), (3, 4))
tupl_elem, ((10, 14), (11, 15))
tupl_elem, ((2, 3), (3, 4))
tupl_elem, ((12, 13), (14, 15))
tupl_elem, ((2, 3), (3, 4))
tupl_elem, ((12, 14), (13, 15))

   Obiekt grupowany  Elemtny(łączone) Element  Użyty
0         (0, 1, 2)     (0, 8, 2, 10)    -0-0  False
1         (1, 2, 3)      (2, 3, 6, 7)    0-1-  False
2         (1, 2, 3)    (10, 11, 2, 3)    -01-  False
3         (1, 2, 3)    (2, 10, 6, 14)    --10  False
4         (1, 2, 3)    (8, 9, 10, 11)    10--  False
5         (1, 2, 3)    (8, 9, 12, 13)    1-0-  False
6         (1, 2, 3)   (8, 10, 12, 14)    1--0  False
7         (2, 3, 4)    (11, 3, 15, 7)    --11  False
8         (2, 3, 4)    (13, 15, 5, 7)    -1-1  False
9         (2, 3, 4)    (14, 15, 6, 7)    -11-  False
10        (2, 3, 4)   (9, 11, 13, 15)    1--1  False
11        (2, 3, 4)  (10, 11, 14, 15)    1-1-  False
12        (2, 3, 4)  (12, 13, 14, 15)    11--  False

In [166]:
assert lista_wyjscie2 == [], "Wyjście 2 się nie zgadza"

In [167]:
elementy_laczone(df_out1)

[(0, 2),
 (0, 8),
 (2, 3),
 (2, 6),
 (2, 10),
 (8, 9),
 (8, 10),
 (8, 12),
 (3, 7),
 (11, 3),
 (5, 7),
 (13, 5),
 (6, 7),
 (6, 14),
 (9, 11),
 (9, 13),
 (10, 11),
 (10, 14),
 (12, 13),
 (12, 14),
 (15, 7),
 (11, 15),
 (13, 15),
 (14, 15)]

In [171]:
df_out3, lista_wyjscie3 = create_group(df_out2)
df_out3

Unique elements len = 3
Unique elements = [(0, 1, 2), (1, 2, 3), (2, 3, 4)]
Uprise group len = ->2<-
El_laczone = [(0, 8, 2, 10), (2, 3, 6, 7), (10, 11, 2, 3), (2, 10, 6, 14), (8, 9, 10, 11), (8, 9, 12, 13), (8, 10, 12, 14), (11, 3, 15, 7), (13, 15, 5, 7), (14, 15, 6, 7), (9, 11, 13, 15), (10, 11, 14, 15), (12, 13, 14, 15)]
El_laczone = [(0, 8, 2, 10), (2, 3, 6, 7), (10, 11, 2, 3), (2, 10, 6, 14), (8, 9, 10, 11), (8, 9, 12, 13), (8, 10, 12, 14), (11, 3, 15, 7), (13, 15, 5, 7), (14, 15, 6, 7), (9, 11, 13, 15), (10, 11, 14, 15), (12, 13, 14, 15)]
Delete (2, 3, 6, 7), actual list: [(0, 8, 2, 10), (2, 3, 6, 7), (10, 11, 2, 3), (2, 10, 6, 14), (8, 9, 10, 11), (8, 9, 12, 13), (8, 10, 12, 14), (11, 3, 15, 7), (13, 15, 5, 7), (14, 15, 6, 7), (9, 11, 13, 15), (10, 11, 14, 15), (12, 13, 14, 15)]
Delete (10, 11, 14, 15), actual list: [(0, 8, 2, 10), (10, 11, 2, 3), (2, 10, 6, 14), (8, 9, 10, 11), (8, 9, 12, 13), (8, 10, 12, 14), (11, 3, 15, 7), (13, 15, 5, 7), (14, 15, 6, 7), (9, 11, 13, 15), (10, 11, 14, 15), (12, 13, 14, 15)]
tupl_elem, ((1, 2, 3), (2, 3, 4))
tupl_elem, ((2, 3, 6, 7), (10, 11, 14, 15))
Delete (10, 11, 2, 3), actual list: [(0, 8, 2, 10), (10, 11, 2, 3), (2, 10, 6, 14), (8, 9, 10, 11), (8, 9, 12, 13), (8, 10, 12, 14), (11, 3, 15, 7), (13, 15, 5, 7), (14, 15, 6, 7), (9, 11, 13, 15), (12, 13, 14, 15)]
Delete (14, 15, 6, 7), actual list: [(0, 8, 2, 10), (2, 10, 6, 14), (8, 9, 10, 11), (8, 9, 12, 13), (8, 10, 12, 14), (11, 3, 15, 7), (13, 15, 5, 7), (14, 15, 6, 7), (9, 11, 13, 15), (12, 13, 14, 15)]
tupl_elem, ((1, 2, 3), (2, 3, 4))
tupl_elem, ((10, 11, 2, 3), (14, 15, 6, 7))
Delete (2, 10, 6, 14), actual list: [(0, 8, 2, 10), (2, 10, 6, 14), (8, 9, 10, 11), (8, 9, 12, 13), (8, 10, 12, 14), (11, 3, 15, 7), (13, 15, 5, 7), (9, 11, 13, 15), (12, 13, 14, 15)]
Delete (11, 3, 15, 7), actual list: [(0, 8, 2, 10), (8, 9, 10, 11), (8, 9, 12, 13), (8, 10, 12, 14), (11, 3, 15, 7), (13, 15, 5, 7), (9, 11, 13, 15), (12, 13, 14, 15)]
tupl_elem, ((1, 2, 3), (2, 3, 4))
tupl_elem, ((2, 10, 6, 14), (11, 3, 15, 7))
Delete (8, 9, 10, 11), actual list: [(0, 8, 2, 10), (8, 9, 10, 11), (8, 9, 12, 13), (8, 10, 12, 14), (13, 15, 5, 7), (9, 11, 13, 15), (12, 13, 14, 15)]
Delete (12, 13, 14, 15), actual list: [(0, 8, 2, 10), (8, 9, 12, 13), (8, 10, 12, 14), (13, 15, 5, 7), (9, 11, 13, 15), (12, 13, 14, 15)]
tupl_elem, ((1, 2, 3), (2, 3, 4))
tupl_elem, ((8, 9, 10, 11), (12, 13, 14, 15))
Delete (8, 9, 12, 13), actual list: [(0, 8, 2, 10), (8, 9, 12, 13), (8, 10, 12, 14), (13, 15, 5, 7), (9, 11, 13, 15)]
tupl_elem, ((1, 2, 3), (2, 3, 4))
tupl_elem, ((8, 9, 12, 13), (10, 11, 14, 15))
Delete (8, 10, 12, 14), actual list: [(0, 8, 2, 10), (8, 10, 12, 14), (13, 15, 5, 7), (9, 11, 13, 15)]
Delete (9, 11, 13, 15), actual list: [(0, 8, 2, 10), (13, 15, 5, 7), (9, 11, 13, 15)]
tupl_elem, ((1, 2, 3), (2, 3, 4))
tupl_elem, ((8, 10, 12, 14), (9, 11, 13, 15))

  Obiekt grupowany                Elemtny(łączone) Element  Użyty
0     (1, 2, 3, 4)    (2, 3, 6, 7, 10, 11, 14, 15)    --1-  False
1     (1, 2, 3, 4)  (8, 9, 10, 11, 12, 13, 14, 15)    1---  False

In [180]:
assert [tuple(sorted(el)) for el in lista_wyjscie3] == [(0, 2, 8, 10), (5, 7, 13, 15)], "Wyjsice 3 sie nie zgadza"

[(0, 2, 8, 10), (5, 7, 13, 15)]

In [177]:
sorted((0, 8, 2, 10))

[0, 2, 8, 10]

In [174]:
lista_wyjscie3

[(0, 8, 2, 10), (13, 15, 5, 7)]

In [71]:
df_out4, lista_wyjscie4 = create_group(df_out3)
df_out4

Unique elements len = 1
Unique elements = [(1, 2, 3, 4)]
Uprise group len = ->0<-

Empty DataFrame
Columns: []
Index: []

In [80]:
elementy_laczone(df_out1)

[(0, 2),
 (0, 8),
 (2, 3),
 (2, 6),
 (2, 10),
 (8, 9),
 (8, 10),
 (8, 12),
 (3, 7),
 (11, 3),
 (5, 7),
 (13, 5),
 (6, 7),
 (6, 14),
 (9, 11),
 (9, 13),
 (10, 11),
 (10, 14),
 (12, 13),
 (12, 14),
 (15, 7),
 (11, 15),
 (13, 15),
 (14, 15)]

In [79]:
elementy_laczone(df_out2)

[(0, 8, 2, 10),
 (2, 3, 6, 7),
 (10, 11, 2, 3),
 (2, 10, 6, 14),
 (8, 9, 10, 11),
 (8, 9, 12, 13),
 (8, 10, 12, 14),
 (11, 3, 15, 7),
 (13, 15, 5, 7),
 (14, 15, 6, 7),
 (9, 11, 13, 15),
 (10, 11, 14, 15),
 (12, 13, 14, 15)]

In [78]:
elementy_laczone(df_out2)

[(0, 8, 2, 10),
 (2, 3, 6, 7),
 (10, 11, 2, 3),
 (2, 10, 6, 14),
 (8, 9, 10, 11),
 (8, 9, 12, 13),
 (8, 10, 12, 14),
 (11, 3, 15, 7),
 (13, 15, 5, 7),
 (14, 15, 6, 7),
 (9, 11, 13, 15),
 (10, 11, 14, 15),
 (12, 13, 14, 15)]

In [77]:
elementy_laczone(df_out3)

[(2, 3, 6, 7, 10, 11, 14, 15), (8, 9, 10, 11, 12, 13, 14, 15)]

In [169]:
a = tuple([5])

In [173]:
a = tuple([1, 2, 3])
a

(1, 2, 3)

In [179]:
tuple_element = (((1, 2), (2, 3)), ((2, 3), (3, 4)))
while any(isinstance(el, tuple) for el in tuple_element):
    tuple_element = sum(tuple_element, ())
tuple_element = tuple(set(tuple_element))
tuple_element

(1, 2, 3, 4)

In [143]:
tuple([5, 3]) + tuple([1, 2])

(5, 3, 1, 2)

In [97]:
df_new = pd.DataFrame()
pd.concat([df_new, df1])

  Obiekt grupowany Elemtny(łączone) Element  Użyty
0           (0, 1)           (0, 2)    00-0  False
1           (0, 1)           (0, 8)    -000  False

AssertionError: