In [2]:
from Reprezentacja_sumacyjna import *

In [8]:
obj = CreateTable("1 2 3 4 5", "1 6")

In [1]:
from Tablica_pokryc import *

In [5]:
get_tablica_prawdy(obj)
data = get_tablica_prawdy(obj)

In [6]:
type(data)

pandas.core.frame.DataFrame

In [9]:
data = get_tablica_prawdy(obj)

   A  B  C  D  Y
0  0  0  0  0  0
1  0  0  0  1  X
2  0  0  1  0  1
3  0  0  1  1  1
4  0  1  0  0  1
5  0  1  0  1  1
6  0  1  1  0  X
7  0  1  1  1  0

In [11]:
get_tablica_prawdy(obj)

   A  B  C  D  Y
0  0  0  0  0  0
1  0  0  0  1  X
2  0  0  1  0  1
3  0  0  1  1  1
4  0  1  0  0  1
5  0  1  0  1  1
6  0  1  1  0  X
7  0  1  1  1  0

In [12]:
get_pierwsza_grupa(obj)

  Liczba jedynek Liczba Binarna  Liczba Dziesiętna
0              1           0001                  1
1              1           0010                  2
2              1           0100                  4
3              2           0011                  3
4              2           0101                  5
5              2           0110                  6